<!DOCTYPE html>
<html>
  <head>
    <title>PWA DEMO</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css?v=37' />
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <header><%= title %> 搭建 PWA DEMO</header>
    <figure>
      <img src="/images/huoying.jpg"/>
      <figcaption id="title"></figcaption>
    </figure>

    <div style="text-align:center;">
      用于测试接口是否被fetch拦截：<br/>
      <button id="btn">获取用户名</button>
    </div>
    <script src="/javascripts/test.js?v=37"></script>
    <script src="/javascripts/register.js?v=36"></script>
  </body>
</html>
